main{
    padding:33px 0px;
}
.title{
    font-size: 24px;
    font-weight: bold;
}
.content_add{
    width: 33%;
    margin: auto;
}
.join_table{

    margin: auto;
}
/*テキストエリア*/
.text_join{
    border: 1px solid;
    border-radius: 3px;
    border-color: #EEEEEE;
    background-color: whitesmoke;
    height:23px;
    width:97%;
    font-size: 7px;
    padding:-5px;
}
/*住所部分のテキストエリア*/
.text_join_address{
    border: 1px solid;
    border-radius: 3px;
    border-color: #EEEEEE;
    background-color: whitesmoke;
    height:23px;
    width:81%;
    margin-left: 6px;
    font-size: 7px;
}
/*住所部分のテキストエリア*/
.text_join_post{
    border: 1px solid;
    border-radius: 3px;
    border-color: #EEEEEE;
    background-color: whitesmoke;
    height:23px;
    width:60%;
    margin-left: 6px;
    font-size: 7px;
}
/*都道府県*/
.select_address{
    border: 1px solid;
    border-radius: 3px;
    border-color: #EEEEEE;
    background-color: whitesmoke;
    height:25px;
    width:83%;
    margin-left: 9px;
    font-size: 7px;
}
.selectbox{
    font-size: 13px;
}
tr{
    height:20px;
}
th{
    width:25%;
    padding:5px;
}
td{
    width: 75%;
    padding: 5px;
}
/* モーダル */
#post_modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    display: none;
    width:40%;
    margin:0px auto;
}
#modal{
    position: absolute;
    top: 2%;
    left: 5%;
    background-color: #e6ecf0;
    padding: 20px 0 20px;
    border-radius: 10px;
    width: 450px;
    height: auto;
    text-align: center;
}
.decision-modal{
    width:20%;
    height:15px;
    margin:0px auto;
}
.label{
    font-size: 13px;
}
#select_post{
    text-align: left;
    margin-left: 30px;
}
#close_modal{
    float:right;
    color: gray;
    font-size:large;
    margin-right:30px;
}
#close_modal:hover{
    cursor: pointer;
}
