main{
    padding:33px 0px;
}
.title{
    font-size: 24px;
    font-weight: bold;
}
.content_add{
    width: 33%;
    margin: auto;
}
.join_table{

    margin: auto;
}
/*テキストエリア*/
.text_join{
    border: 1px solid;
    border-radius: 3px;
    border-color: #EEEEEE;
    background-color: whitesmoke;
    height:23px;
    width:97%;
    font-size: 7px;
    padding:-5px;
}
/*住所部分のテキストエリア*/
.text_join_address{
    border: 1px solid;
    border-radius: 3px;
    border-color: #EEEEEE;
    background-color: whitesmoke;
    height:23px;
    width:81%;
    margin-left: 6px;
    font-size: 7px;
}
/*都道府県*/
.select_address{
    border: 1px solid;
    border-radius: 3px;
    border-color: #EEEEEE;
    background-color: whitesmoke;
    height:25px;
    width:83%;
    margin-left: 9px;
    font-size: 7px;
}

tr{
    height:20px;
}
th{
    width:25%;
    padding:5px;
}
td{
    width: 75%;
    padding: 5px;
}
