.no{
    width: 13%;
}
.title{
    width: 40%;
}
.manager{
    width: 7%;
}
.total{
    width: 10%;
}
.period{
    width: 8%;
}
.due{
    width: 8%;
}
.status{
    width: 6%;
}
.q_edit{
    width: 4%;
}
.q_delete{
    width: 4%;
}

/*見積作成の状態欄*/
.select_status{
    border: 1px solid;
    border-radius: 3px;
    border-color: #EEEEEE;
    background-color: whitesmoke;
    height:25px;
    width:50%;
    font-size: 7px;
}

.text_join_en{
    border: 1px solid;
    border-radius: 3px;
    border-color: #EEEEEE;
    background-color: whitesmoke;
    height:23px;
    width:90%;
    font-size: 7px;
}